/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/* Requires the "highlight background of current line option to be enabled */
.CodeMirror .CodeMirror-activeline .CodeMirror-activeline-background.CodeMirror-linebackground {
  background: #2E3138 !important;
}

/* strikeout and dim the text of a checked checkbox */
div.CodeMirror span.cm-rm-checkbox.cm-property + span.cm-rm-checkbox ~ span.cm-rm-checkbox {
	text-decoration: line-through;
	opacity: 0.7;
}

/* Reduces the intensity of the italics (emph) and bold (strong) markdown tokens */
div.CodeMirror .cm-em.cm-rm-em-token,
div.CodeMirror .cm-strong.cm-rm-strong-token {
	opacity: 0.5;
}

/* Reduce the size and visibility of the header hash tags. */
/* The additional CSS option must be enabled */
div.CodeMirror .cm-header.cm-rm-header-token {
	font-size: 0.9em;
	color: grey;
}

/* Additionally, this CSS unindent the "#" characters to align */
/* the header text with the rest of the text */
div.CodeMirror .cm-header.cm-rm-header-token {
	color: #cccccc;
	font-size: 0.9em;
	margin-left: -50px;
	max-width: 50px;
	width: 50px;
	overflow: hidden;
	display: inline-block;
	text-align: right;
	opacity: 0.5;
}
